    /*Estilos basicos*/
body{
    background: #fdfdfd;
    color: rgb(61, 61, 61);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos-Barra-de-scroll*/
::-webkit-scrollbar { 
    width: 8px; 
    height: 100%; 
  }
  
  ::-webkit-scrollbar-track { 
    background: rgb(231, 231, 231); 
  }
  
  ::-webkit-scrollbar-thumb { 
    background: rgb(176, 217, 255);
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-thumb:hover { 
    background: rgb(78, 169, 255);
  }
    
    /*-----------------Sec4-Contenido-Blog-------------------*/
    .Estructura-articulo-Documentación-Noticia-Contenido{
        position: relative;
        margin: 0vh 0vw 0vh 0vw;
    }
    
    .Estructura-articulo-Documentación-Noticia-Contenido img{ 
        width: 100%;
        height: 40vh;
        object-fit: cover;
        background: rgb(238, 238, 238);
    }

    .Estructura-articulo-Documentación-Noticia-Contenido video{ 
        width: 100%;
        height: 70vh;
        object-fit: cover;
        background: rgb(238, 238, 238);
    }
    
    .cont-articulo-Documentación-Noticia-Contenido{
        display: flex;
        margin: 0vh 0vw 0vh 0vw;
    }
    
    .cont-inf{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3vh 1.5vw 6vh 1.5vw;
    }
    
    .cont-inf-enlaces-articulo-Documentación-Noticia-Contenido{
        display: flex;
        align-items: center;
    }
    
    .cont-inf-enlaces-articulo-Documentación-Noticia-Contenido img{
        width: 2.3rem;
        min-width: 2.5vw;
        max-width: 2.3rem;
        height: 2.3rem;
        min-height: 2.5vw;
        max-height: 2.3rem;
        margin: 0px 0.5vw 0px 0px;
        border-radius: 50%;
        object-fit: cover;
        background: rgb(238, 238, 238);
    }
    
    .cont-inf-enlaces-articulo-Documentación-Noticia-Contenido h6{
        color: rgb(44, 44, 44);
        font-size: 1.3vw;
        margin: 0px 0vw -0.2rem 0.5vw;
    }
    
    .cont-inf-enlaces-articulo-Documentación-Noticia-Contenido small{
        color: rgba(0, 0, 0, 0.596);
        font-size: 1vw;
        margin: 0px 0vw 0px 0.5vw;
    }
    
    .cont-botones-enlace{
        display: flex;
        gap: 1vw;
        align-items: center;
    }
    
    .cont-botones-enlace img{
        width: 1rem;
        min-width: 1.5vw;
        max-width: 1rem;
        height: 1rem;
        min-height: 1.5vw;
        max-height: 1rem;
    }
    
    .cont-botones-enlace h6{
        font-size: 1.05vw;
        color: rgb(0, 0, 0);
        margin: 0.5vh 0.5vw 0px 0px;
    }
    
    .social-button {
        padding: 0.5rem 0.5rem;
        border-radius: 10vw;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        color: white;
        border: none;
        border-radius: 50%;
    }
    
    .social-button img {
        width: 1rem;
        height: 1rem;
    }
    
    .social-button:hover{
        opacity: 80%;
    }
    
    .facebook-button {
        background-color: #0000000a;
    }
    
    .instagram-button {
        background-color: #0000000a;
    }
    
    .whatsapp-button {
        background-color: #0000000a;
    }


/*----------------Contenido-articulo-documentacion-noticia-----------------------------*/
.cont-descrip-articulo-Documentación-Noticia-Contenido{
    display: block;
    margin: 0vh 2vw 1vh 4vw;
}

.cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido{
    text-align: justify;
    margin: 2vh 1.5vw 2vh 1.5vw;
    padding: 0vh 1vw 1vh 0vw;
}

.cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido h2{
        color: black;
        font-size: 2.8vw;
        text-align: justify;
        margin: 4vh 0vw 0.5vh 0vw;
}

.cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido h3{
    color: black;
    font-size: 2.3vw;
    text-align: start;
    margin: 4vh 0vw 2.8vh 0vw;
}

.cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido h4{
        color: black;
        font-size: 1.8vw;
        text-align: justify;
        margin: 4vh 0vw 2.8vh 0vw;
}

.cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido p{
        font-size: 1.3vw;
        margin: 2vh 0vw 0vh 0vw;
}

.cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido ol, ul{
        padding: 0;
        margin: 4vh 0vw 0vh 1.5vw;
}

.cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido li{
    font-size: 1.3vw;
    padding: 0;
    margin: 2.5vh 0vw 2.5vh 0vw;
}

.cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido strong{
    color: rgb(20, 20, 20);
    font-size: 1.4vw;
    padding: 0;
    margin: 0vh 0vw 0vh 0vw;
}


.cont-Imagenes-videos-acopladas{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    margin: 5vh 0vw 5vh 0vw;
  }

  .cont-Imagenes-videos-acopladas img{
    flex: 1 1 20vw;
    max-width: 100%;
    max-height: 30vh;
    width: 100%;
    object-fit: cover;
    border-radius: 1vw;
    background: rgb(238, 238, 238);
    padding: 0vh 0vw 0vh 0vw;
  }

  .cont-Imagenes-videos-acopladas video{
    flex: 1 1 20vw;
    max-width: 100%;
    max-height: 60vh;
    width: 100%;
    object-fit: cover;
    border-radius: 1vw;
    background: rgb(238, 238, 238);
    padding: 0vh 0vw 0vh 0vw;
  }

.unitario img{
    min-height: 40vh;
}


.indice{
    font-size: 1.3vw;
    width: 40vw;
    height: 100%;
    margin: 0vh 6vw 1vh 0vw;
}

.indice h4{
    color: black;
    font-size: 2vw;
    margin: 4vh 0vw 4vh 1.5vw;
}

.indice li{
    padding: 0;
    margin: 0vh 0vw 4vh 0vw;
}

.indice ul{
    padding: 0;
    margin: 0vh 0vw 0vh 3vw;
}

.indice a{
    text-decoration: none;
}

.indice a:hover{
    text-decoration: underline;
}


  /*------------------Contenido-Publicidad-------------------*/
  .publicidad{
    text-align: start;
    margin: 1vh 4vw 2vh 4vw;
    padding: 0vh 0vw 0vh 0vw;
    z-index: 0;
    }
    
    .publicidad h6{
    color: black;
    font-size: 1.5vw;
    margin: 0vh 0vw 2.2vh 0vw;
    }
    
    .publicidad p{
    color: rgb(87, 87, 87);
    font-size: 1.3vw;
    margin: 0vh 4vw 3vh 0vw;
    }
    
    .publicidad1 { 
    border-radius: 1vw;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    }
    
    .publicidad1:hover{ 
    opacity: 90%;
    }
    
    .publicidad1 img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    }
    
    .publicidad1 video {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    }
    
    .publicidad .texto { 
    text-align: start;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25vh 4vw 3vh 1.5vw ;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.788));
    color: white;
    }
    
    .publicidad .texto h4{
    font-size: 1.6vw;
    margin: 0vh 4vw 1.5vh 0vw;
    color: white;
    }
    
    .publicidad .texto p{
    font-size: 1.2vw;
    color: rgb(221, 221, 221);
    margin: 0vh 2vw 2vh 0vw;
    }

/*---------------------------------------------------------------------*/

.gallery-item {
    cursor: pointer;
    object-fit: cover;
    transition: 0.3s;
}

.gallery-item:hover {
    opacity: 80%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(50px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.1s ease-in-out; /* Cambiado a 0.1s */
}

.overlay-content {
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease-in-out; /* Cambiado a 0.1s */
}

.overlay-media {
    width: auto;
    height: auto;
}

/* Estilos específicos para la imagen */
#overlay-image {
    width: 80vw;
    height: 80vh;
    object-fit: contain;
    border-radius: 1vw;
    transform: scale(0); /* Inicialmente escalar a 0 */
}

/* Estilos específicos para el video */
#overlay-video {
    width: 75vw;
    height: 80vh;
    object-fit: cover;
    border-radius: 1vw;
    transform: scale(0); /* Inicialmente escalar a 0 */
}

/* Estilo para el botón de cerrado */
.close-btn {
    position: absolute;
    top: 2vw;
    right: 2vw;
    background: none;
    border: none;
    color: rgb(85, 85, 85);
    font-size: 1.5vw;
    cursor: pointer;
}

.close-btn:hover{
    opacity: 80%;
}



/*---------------------------------------------------------------------*/

footer { 
    text-align: center;
    margin: 5vh 0vw 0vh 0vw;
    opacity: 50%;
}

footer h6{ 
    margin: 0vh 0vw 0vh 0vw;
}

.enlaces-princiáles{
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin: 3vh 0vw 5vh 0vw;
}

.enlaces-princiáles a{
    font-size: 1.2vw;
    font-weight: 600;
    text-decoration: none;
}

.enlaces-princiáles a:hover{
    text-decoration: underline;
}

/*---------------------------------------------------------------------*/

@media(width <= 912px){

    body{
        background: #fcfcfc;
        color: rgb(61, 61, 61);
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

        /*-----------------Sec4-Contenido-Blog-------------------*/
        .Estructura-articulo-Documentación-Noticia-Contenido{
            position: relative;
            margin: 0vh 0vw 0vh 0vw;
        }
        
        .Estructura-articulo-Documentación-Noticia-Contenido img{ 
            width: 100%;
            height: 25vh;
            object-fit: cover;
            background: rgb(238, 238, 238);
        }
    
        .Estructura-articulo-Documentación-Noticia-Contenido video{ 
            width: 100%;
            height: 30vh;
            object-fit: cover;
            background: rgb(238, 238, 238);
        }
        
        .cont-articulo-Documentación-Noticia-Contenido{
            display: block;
            margin: 0vh 0vw 0vh 0vw;
        }
        
        .cont-inf{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1vh 0vw 1vh 0vw;
        }
        
        .cont-inf-enlaces-articulo-Documentación-Noticia-Contenido{
            display: flex;
            align-items: center;
        }
        
        .cont-inf-enlaces-articulo-Documentación-Noticia-Contenido img{
            width: 2rem;
            height: 2rem;
            margin: 0px 1vw 0px 0px;
            border-radius: 50%;
            object-fit: cover;
            background: rgb(238, 238, 238);
        }
        
        .cont-inf-enlaces-articulo-Documentación-Noticia-Contenido h6{
            color: rgb(44, 44, 44);
            font-size: 4vw;
            margin: 0px 0vw -0.4rem 0.5vw;
        }
        
        .cont-inf-enlaces-articulo-Documentación-Noticia-Contenido small{
            color: rgba(0, 0, 0, 0.596);
            font-size: 2vw;
            margin: 0px 0vw 0px 0.5vw;
        }
        
        .cont-botones-enlace{
            display: flex;
            gap: 1vw;
            align-items: center;
        }
        
        .cont-botones-enlace img{
            width: 0.5rem;
            height: 0.5rem;
        }
        
        .cont-botones-enlace h6{
            font-size: 3vw;
            color: rgb(0, 0, 0);
            margin: 0vh 2vw 0px 0px;
            display: none;
        }
        
        .social-button {
            padding: 0.5rem 0.5rem;
            border-radius: 10vw;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            color: white;
            border: none;
            border-radius: 50%;
        }
        
        .social-button img {
            width: 1rem;
            height: 1rem;
        }
        
        .social-button:hover{
            opacity: 80%;
        }
        
        .facebook-button {
            background-color: #0000000a;
        }
        
        .instagram-button {
            background-color: #0000000a;
        }
        
        .whatsapp-button {
            background-color: #0000000a;
        }

    
    /*----------------Contenido-articulo-documentacion-noticia-----------------------------*/
    .cont-descrip-articulo-Documentación-Noticia-Contenido{
        display: block;
        margin: 0vh 0vw 1vh 0vw;
        border-right: none;
    }
    
    .cont-descrip-articulo-Documentación-Noticia-Contenido{
        text-align: start;
        margin: 2vh 4vw 2vh 4vw;
        padding: 0vh 1vw 1vh 0vw;
    }
    
    .cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido h2{
        color: black;
        font-size: 7vw;
        text-align: start;
        margin: 4vh 0vw 0vh 0vw;
    }

    .cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido h3{
        color: black;
        font-size: 6vw;
        text-align: start;
        margin: 4vh 0vw 0vh 0vw;
    }
    
    .cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido h4{
        color: black;
        font-size: 5.5vw;
        text-align: start;
        margin: 4vh 0vw 0vh 0vw;
    }
    
    .cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido p{
        font-size: 3.5vw;
        margin: 1vh 0vw 0vh 0vw;
    }
    
    .cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido ol, ul{
        padding: 0;
        margin: 3vh 0vw 3vh 4vw;
    }
    
    .cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido li{
        font-size: 3.5vw;
        padding: 0;
        margin: 2vh 0vw 2vh 0vw;
    }
    
    .cont-descrip-articulo-Documentación-Noticia-Contenido .cont-description-articulo-Documentación-Noticia-Contenido strong{
        color: rgb(20, 20, 20);
        font-size: 4vw;
        padding: 0;
        margin: 0vh 0vw 0vh 0vw;
    }

    
  .cont-Imagenes-videos-acopladas{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 3vh 0vw 3vh 0vw;
  }

  .cont-Imagenes-videos-acopladas img{
    flex: 1 1 20vw;
    max-width: 100%;
    max-height: 20vh;
    min-height: 40%;
    min-width: 40%;
    object-fit: cover;
    border-radius: 3vw;
    background: rgb(238, 238, 238);
    padding: 0vh 0vw 0vh 0vw;
  }

  .cont-Imagenes-videos-acopladas video{
    flex: 1 1 20vw;
    max-width: 100%;
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
    border-radius: 3vw;
    background: rgb(238, 238, 238);
    padding: 0vh 0vw 0vh 0vw;
  }

  .unitario img{
    min-height: 30vh;
  }
    
    
    .indice{
        display: none;
        font-size: 1.3vw;
        width: 40vw;
        height: 100%;
        margin: 0vh 6vw 1vh 0vw;
    }
    
    .indice h4{
        color: black;
        font-size: 2vw;
        margin: 2.5vh 0vw 3vh 1.5vw;
    }
    
    .indice li{
        padding: 0;
        margin: 0vh 0vw 2vh 0vw;
    }
    
    .indice ul{
        padding: 0;
        margin: 0vh 0vw 0vh 3vw;
    }
    
    .indice a{
        color: black;
        text-decoration: none;
    }
    
    .indice a:hover{
        text-decoration: underline;
    }


    /*------------------Contenido-Publicidad-------------------*/
    .publicidad{
        text-align: start;
        margin: -4vh 4vw 2vh 4vw;
        padding: 0vh 0vw 0vh 0vw;
        z-index: 0;
        }
        
        .publicidad h6{
        color: black;
        font-size: 5vw;
        margin: 0vh 0vw 2vh 0vw;
        }
        
        .publicidad p{
        color: rgb(87, 87, 87);
        font-size: 3.5vw;
        margin: 0vh 4vw 3vh 0vw;
        }
        
        .publicidad1 { 
        border-radius: 2vw;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        }
        
        .publicidad1:hover{ 
        opacity: 90%;
        }
        
        .publicidad1 img{
        width: 100%;
        height: 20vh;
        object-fit: cover;
        }
        
        .publicidad1 video {
        width: 100%;
        height: 20vh;
        object-fit: cover;
        }
        
        .publicidad .texto { 
        text-align: start;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 25vh 4vw 3vh 3vw ;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.788));
        color: white;
        }
        
        .publicidad .texto h4{
        font-size: 4vw;
        margin: 0vh 4vw 1vh 0vw;
        color: white;
        }
        
        .publicidad .texto p{
        font-size: 3vw;
        color: rgb(221, 221, 221);
        margin: 0vh 2vw 0vh 0vw;
        }

    
    /*---------------------------------------------------------------------*/
    
    .gallery-item {
        cursor: pointer;
        object-fit: cover;
        transition: 0.3s;
    }
    
    .gallery-item:hover {
        opacity: 80%;
    }
    
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(50px);
        justify-content: center;
        align-items: center;
        z-index: 1000;
        opacity: 0; /* Inicialmente transparente */
        transition: opacity 0.1s ease-in-out; /* Cambiado a 0.1s */
    }
    
    .overlay-content {
        max-width: 90%;
        max-height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.1s ease-in-out; /* Cambiado a 0.1s */
    }
    
    .overlay-media {
        width: auto;
        height: auto;
    }
    
    /* Estilos específicos para la imagen */
    #overlay-image {
        width: 80vw;
        height: 80vh;
        object-fit: contain;
        border-radius: 1vw;
        transform: scale(0); /* Inicialmente escalar a 0 */
    }
    
    /* Estilos específicos para el video */
    #overlay-video {
        width: 75vw;
        height: 80vh;
        object-fit: cover;
        border-radius: 1vw;
        transform: scale(0); /* Inicialmente escalar a 0 */
    }
    
    /* Estilo para el botón de cerrado */
    .close-btn {
        position: absolute;
        top: 4vw;
        right: 4vw;
        background: none;
        border: none;
        color: rgb(85, 85, 85);
        font-size: 4vw;
        cursor: pointer;
    }
    
    .close-btn:hover{
        opacity: 80%;
    }
    
    
    /*---------------------------------------------------------------------*/
    
    footer { 
        text-align: center;
        margin: 0vh 0vw 3vh 0vw;
        opacity: 50%;
    }
    
    footer h6{ 
        margin: 0vh 0vw 0vh 0vw;
    }

    .enlaces-princiáles{
        display: flex;
        justify-content: center;
        gap: 2vw;
        margin: 1.5vh 2vw 3vh 2vw;
    }
    
    .enlaces-princiáles a{
        font-size: 2.5vw;
        font-weight: 600;
        text-decoration: none;
    }
    
    .enlaces-princiáles a:hover{
        text-decoration: underline;
    }

    /*---------------------------------------------------------------------*/
}